<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <style></style>
  </head>
  <body>
    <div id="root">
      <div data-testid="target-1" style="position: relative;">
        Target (possition: relative)
      </div>
      <div data-testid="target-2" style="position: absolute; top: 6rem;">
        Target (position: absolute)
      </div>
      <div data-testid="target-3" style="position: fixed; top: 10rem;">
        Target (position: fixed)
      </div>
      <div data-testid="target-4" style="position: sticky;">
        Target (position: sticky)
      </div>
    </div>
  </body>
</html>
