@import '../../src/ui-guide-config';

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root {
  padding: 2rem;
}

[data-testid] {
  display: inline-block;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  text-align: center;
  background-color: aliceblue;
  border: 1px solid darken(aliceblue, 10%);
}

[#{attr('elements', 'backdrop')}][#{attr('markers', 'show')}]
  [#{attr('elements', 'box')}] {
  animation-delay: 0s !important;
  animation-duration: 0s !important;
}
