$class-prefix: 'uig';

$class-markers: (
  'clickable': 'clickable',
  'non-positioned': 'non-positioned',
  'force-clickable': 'force-clickable',
  'highlighting': 'highlighting',
);

$class-elements: (
  'backdrop': 'backdrop',
  'box': 'box',
  'target': 'target',
  'popup': 'popup',
);

@function classname($type, $key) {
  @if ($type == 'elements') {
    @return $class-prefix + '-elements-' + map-get($class-elements, $key);
  } @else if ($type == 'markers') {
    @return $class-prefix + '-markers-' + map-get($class-markers, $key);
  } @else {
    @error 'Invalid classname type.';
  }
}

.#{classname('elements', 'backdrop')} {
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

body.#{classname('markers', 'highlighting')} * {
  pointer-events: none !important;
}

body.#{classname('markers', 'highlighting')} {
  .#{classname('elements', 'backdrop')},
  .#{classname('elements', 'popup')},
  .#{classname('markers', 'clickable')} {
    pointer-events: all !important;

    * {
      pointer-events: all !important;
    }
  }
}

.#{classname('elements', 'box')} {
  position: absolute;
  display: inline-block;
  will-change: left, top, width, height;
}

.#{classname('markers', 'non-positioned')} {
  position: relative !important;
}

.#{classname('elements', 'target')} {
  z-index: 1001 !important;
}

.#{classname('markers', 'force-clickable')} {
  z-index: 1001 !important;
}
